/*@media only screen and (max-width: 1024px){
    .ui.form{
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media only screen and (max-width: 600px){
    .ui.form{
        padding-left: 5%;
        padding-right: 5%;
    }
}*/
